/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    padding: 0 2rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
  }
  
  a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
  }

  .logo {
    font-size: 2rem;
    position: relative; /* Add this */
    z-index: 10; /* Add this */
  }
  
  .logo a {
    text-decoration: none;
    color: white;
    display: inline-block; /* Add this */
    width: 100%; /* Add this */
  }
  
  .logo a:hover {
    color: white; /* Keep it black instead of grey */
    text-decoration: none; /* Remove underline */
    cursor: pointer;
  }

/* HAMBURGER MENU */

#hamburger-nav {
  display: flex;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  z-index: 1001; 
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  z-index: 1001; 
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3 ease-in-out;
  z-index: 1001;
}

.hamburger-icon.open span{
  background-color: black;
}

.menu-links {
    position: fixed; 
    top: 0;
    right: -100%; 
    background-color: white;
    width: 300px; 
    height: 100vh; 
    overflow-y: auto; 
    transition: right 0.3s ease-in-out; 
    border-left: 3px solid black;
    padding-top: 80px; 
    padding-bottom: 20px; /* Add this */
    z-index: 1000; 
    display: flex;
    flex-direction: column;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid rgb(200, 200, 200);
  background-color: white;
  transform: translateY(50vh); /* Adjust this value to move it down */
}

.menu-footer p {
  font-size: 0.9rem;
  color: rgb(85, 85, 85);
  margin: 8px 0;
}

.menu-links.open {
    right: 0; 
    max-height: none; 
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Sections */

section {

    padding-top: 4vh;
    height: 96vh;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-25vh); /* Negative value moves it up */
}